.DS_*
*.log
logs
**/*.backup.*
**/*.back.*


node_modules
bower_components
.next
out
.vercel
coverage
dist
build
*.sublime*

psd
thumb
sketch

# End of https://mrkandreev.name/snippets/gitignore-generator/#react

# Environment files
.env
.env.*
.env.local
.env.development
.env.production
.env.test
.env.example