.DS_*
*.log
logs
**/*.backup.*
**/*.back.*


node_modules
.next
bower_components
coverage
dist
build
uploads

*.sublime*

psd
thumb
sketch

# End of https://mrkandreev.name/snippets/gitignore-generator/#react