

# Dependencies
node_modules/

# Hardhat outputs
artifacts/
cache/
coverage/
typechain/
typechain-types/
ignition/deployments/

# Misc
*.log

# Environment files
.env
.env.*
.env.local
.env.development
.env.production
.env.test
.env.example
